




<div *ngIf="hidden">
    <p class="col-12">{{nowRecipeName}}</p>
    <img src={{nowRecipeImg}} width="100px" height="100px">        
    <div> <img src="assets\timeicon.jpg" width="60px" height="60px" />
    <label> {{nowRecipePT|timepipe}}</label></div>
    <br>
    
        <label><div class="titlebold">Difficult Level: </div><br>
            <div style="float: left;" *ngFor="let s of starsArr">
            <span style="color:darkorange" class="rating-star active" aria-hidden="true" data-rating="1">
                <svg width="24" height="24" viewBox="0 0 24 24" role="img" aria-hidden="true" tabindex="-1" xmlns="http://www.w3.org/2000/svg"><path class="rating-star-filled" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg>
            </span></div>
         </label> 
    <br>
    
    <div *ngIf="hidden2">
    <a routerLink="/Recipe-Details/{{recipe.RecipeName}}">See Recipy</a>
    </div>
    <!-- <app-recipe-details [recipename]="nowRecipeName"></app-recipe-details> -->
</div>
<router-outlet></router-outlet>